.search-bar {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    gap: 10px;

    width: 327px;
    height: 32px;

    border: 1px solid #F0F1F2;
    border-radius: 50px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #F0F1F2;

    opacity: 0.7;
}