nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 100px;

    width: 660px;
    height: 49px;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    width: 77px;
    height: 49px;

    background: #F0F1F2;

    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #011627;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.nav-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 10px;

    width: 483px;
    height: 49px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.search-input {
    box-sizing: border-box;
    width: 280px;
    padding: 5px 15px;
    background: transparent;
    border: 1px solid #F0F1F2;
    border-radius: 50px;
    font-size: 16px;
    color: #F0F1F2;
    outline: none;
    text-align: center;
}

.search-input::placeholder {
    color: #F0F1F2;
    opacity: 0.7;
}

.search-input:focus {
    border-color: #219EBC;
}